<Context>

  <Resource name="jdbc/projet" 
  			auth="Container" type="javax.sql.DataSource"
               maxActive="20" maxIdle="5" maxWait="10000"
               username="root" password="nafi"
               driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost:3306/projet?useSSL=false"/>

</Context>